body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

/*header*/
header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-top: 10px;
}
/*seciton 1*/
.section1 {
    margin: 3% 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.image-section1 {
    position: relative;
    left: 45px;
    border-radius: 4px;
    flex: 1;
    height: 90%;
    min-width: 100%;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-top: 0px;
}

.hero-secondary, .header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.header-button {
    color: #f9faf8;
    padding: 6px 20px;
    border-radius: 6px;
    border: none;
    font-weight: 700;
}

button, .call-to-action-container{
    background-color: #3882f6;
}

/*section 2*/

.section2 {
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.image-container {
    display: flex;
    justify-content: center;
}

.section2-image {
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

/*section 3*/
.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

/*footer*/
footer {
    background-color: #1f2937;
}